#grid {
  display: grid;
  grid-template-areas:
  “formFields addOrderButtons”;
  grid-template-columns: 4fr 1fr;
  margin: 0;
  border: 1px solid black;
}
.formFields {
  display: grid;
  grid-template-areas:
  “addOrder addOrder addOrder addOrder”
  “addOrder addOrder addOrder .”;
  grid-template-columns: repeat(4, 1fr);
  border-right: 1px solid black;
}
.addOrder{
  margin: 5px;
  text-align: center;
}
button {
  margin: 5px;
  min-width: 140px;
  font-size: 16px;

}
.addOrderButtons{
    text-align: center;
}
input {
  font-size: 16px;
}
