#grid {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin: 0;
  border: 1px solid #dee2e6;
  padding-bottom: 10px;
}
.formFields {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.addOrder{
  margin: 5px;
  text-align: center;
}
#newOrder, #deleteOrder {
  margin: 5px;
  min-width: 140px;
  font-size: 1rem;
  padding: 6px;
}
.addOrderButtons{
    text-align: center;
}
input {
}
.react-bootstrap-table-pagination {
  margin: 0;
}
.sortable {
  cursor: pointer;
}
.btn-default:focus, .btn-default:hover {
  background-position: 0 !important;
}
#pageDropDown {color: #007bff}
